@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* ----------------- Landing Page Sction Start --------------------------- */
/* -------------- Landing Page Logo Section Start ------------ */
.landing_page {
  background: url(./Assets/bg4.png) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.landing_page .logo_wrapper {
  /* background-color: green; */
  display: flex;
  flex-direction: row;
  align-items: center;
}
.landing_page .logo_wrapper img {
  /* border: 1px solid red; */
  max-width: 4rem;
  margin: 0.5rem 0.5rem 0 2rem;
}
.landing_page .logo_wrapper h2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2rem;
  text-align: center;
  color: #E10A34;
  text-shadow:1px 1px 3px rgba(255, 247, 0, 0.4);
}
.landing_page .logo_wrapper h2 span {
  color: #008175;
  font-size: 1rem;
  /* border-bottom: 1px solid red; */
}
/* -------------- Landing Page Logo Section End ------------- */

/* ------------------ Marquee Section Start ----------------- */
marquee h2 {
  font-size: 1.2rem;
  font-weight: 300;
  color: #eeff00;
  text-shadow: 1px 1px 3px rgba(224, 10, 53, 0.9);
}
marquee h2 span {
  color: #E10A34;
  font-size: 1.2rem;
  font-weight: 400;
  text-shadow:1px 0 3px rgba(238, 255, 0, 0.7)
}

/* -------------- Headline text section start --- */
.headline_container{
    /* border: 1px solid rgb(89, 255, 0); */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* gap: 1%; */
    width: 100%;
    /* height:80%; */
}
.headline_container .headline_text .headline_wrapper{
  /* border: 1px solid rgb(238, 255, 0); */
  margin-left: 6%;
}
.headline_container .headline_text {
  /* border: 1px solid rgb(255, 0, 0); */
  width: 60%;
}
.headline_container .headline_text .headline_wrapper h1 {
  /* border: 1px solid yellow; */
  color: #4b918a;
  font-weight: 300;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  margin-top: 10%;
  cursor: default;
  text-shadow:1px 2px 4px rgba(49, 49, 49, 0.6)
}
.headline_container .headline_text .headline_wrapper h1 span {
  color: #E10A34;
  font-weight: 400;
  font-size: 2rem;
  text-shadow:1px 2px 4px rgba(255, 0, 0, 0.6)
}
.headline_container .headline_text .headline_wrapper h2 {
  color: #228e84;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.7rem;
  word-spacing: 0.2rem;
  cursor: default;
  text-shadow:1px 2px 4px rgba(40, 40, 40, 0.6)
}
.headline_container .headline_text .headline_wrapper h2 span {
  color: #E10A34;
  font-weight: 300;
  font-size: 1.5rem;
  text-shadow:1px 2px 4px rgba(255, 0, 0, 0.6)
}
.headline_container .headline_text .headline_wrapper button {
  background-color: #eeff00;
  padding: 0.2rem 1rem;
  border-radius: 15px;
  border: none;
  margin-top: 8%;
  box-shadow: 0px 0px 15px 1px rgba(0, 255, 229, 0.5);
  transition: ease-in-out .3s;
}
.headline_container .headline_text .headline_wrapper button:hover{
  box-shadow: 0px 0px 15px 1px rgba(255, 0, 0, 0.5);
}

.headline_container .headline_text .headline_wrapper button i {
  color: #0866ff;
  font-size: 1.2rem;
  animation: shake 2.5s infinite;
}
.headline_container .headline_text .headline_wrapper button a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 0.3rem;
}

@keyframes shake {
  0% {
    transform: rotate(-15deg);
  }
  5% {
    transform: rotate(15deg);
  }
  10% {
    transform: rotate(-15deg);
  }
  15% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* -------------------- */
.headline_container .headline_text .Landing_adress{
  /* border: 1px solid #67e6dc; */
  margin-top: 12%;
  margin-left: 4%;
  width: 40%;
  padding: .5rem .1rem .5rem 1rem;
  border-radius: 15px;
  box-shadow:inset 0 0 15px 1px rgba(255, 0, 0, 0.2);
  cursor: default;
}
.headline_container .headline_text .Landing_adress .loca{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3%;
}
.headline_container .headline_text .Landing_adress .loca i{
  font-size: 1.2rem;
  color: #E10A34;
  text-shadow: 0px 2px 2px  rgba(87, 87, 87, 0.6);
}
.headline_container .headline_text .Landing_adress .loca h2{
  font-size: 1.2rem;
  font-weight: 300;
  color: #005249;
  line-height: 2rem;
  text-shadow: 1px 1px 2px  rgba(87, 87, 87, 0.6);
}
/* ------- Heading Text Section End --------- */

/* ----------- Swiper Image Slider ---------------- */
.image_slider_container{
    /* border: 1px solid blue; */
    width: 40%;
    /* height: 100%; */
    /* margin-left: 3.5%; */
}
.swiper {
  width: 100%;
  height: 100%;
  /* padding-top: 50px;
    padding-bottom: 50px; */
  /* border: 1px solid red; */
}
.swiper-wrapper{
  width: 100%;
  /* height: 100%; */
}
.swiper-slide {
  background-position: center;
  background-size: contain;
  width: 100%;
  /* height: 100%; */
  /* border: 1px solid rgb(0, 17, 255); */
  border-radius: 15px;
  overflow: hidden;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height:100%;
  /* border-radius: 15px; */
}

/* ------------------------------- */
.image_slider_container .card_wrapper{
    /* background-color: #c7d500; */
    width: 100%;
    height: 100%;
    position: relative;
}
.image_slider_container .card_wrapper .circle1, .circle2{
    /* background-color: #0cff08; */
    width: 25%;
    height: 23%;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    box-shadow: inset 0 0 15px 2px #eeff00;
}
.image_slider_container .card_wrapper .circle1{
  top:1%;
  right: 9%;
  animation: circle1 2.5s infinite;
}
.image_slider_container .card_wrapper .circle2{
  bottom:5%;
  left: 5%;
  animation: circle2 2.5s infinite;
}
@keyframes circle1{
  0%{
    transform: translateY(0px);
    box-shadow: inset 0 0 15px 2px rgba(72, 18, 220, 0.1);
  }
  50%{
    transform: translateY(10px);
    box-shadow: inset 0 0 50px 2px rgba(0, 182, 91, 0.7);
  }
  100%{
    transform: translateY(0px);
    box-shadow: inset 0 0 15px 2px rgba(159, 220, 18, 0.1);
  }
}
@keyframes circle2{
  0%{
    transform: translateY(0px);
    box-shadow: inset 0 0 15px 2px rgba(0, 198, 125, 0.2);
  }
  50%{
    transform: translateY(10px);
    box-shadow: inset 0 0 50px 2px rgba(205, 2, 2, 0.7);
  }
  100%{
    transform: translateY(0px);
    box-shadow: inset 0 0 15px 2px rgba(0, 193, 122, 0.2);
  }
}
.image_slider_container .card_wrapper .rectangle{
    /* background-color: #0866ff; */
    width: 65%;
    height: 75%;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 15%;
    z-index: 2;
    overflow: hidden;
    backdrop-filter: blur(15px);
    background: transparent;
    box-shadow: 1px 1px 15px 2px rgba(255, 0, 0, 0.4),1px 1px 15px 2px rgba(255, 0, 0, 0.4);
}



/* ------------ Responsive Section ------------- */